.landing-page{
	position: absolute; 
	right: 0; 
	left: 0; 
	top: 0; 
	bottom: 0; 
	color: white; 
	background-image: url("./assets/recycle.jpg");
}

.text{
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

.about-paragraph{
	text-align: center; 
}
